{:index 183, :time 15830526215, :type :invoke, :process 95, :f :write, :value 4}
{:index 185, :time 16029859820, :type :invoke, :process 1, :f :read, :value nil}
{:index 187, :time 16208468272, :type :invoke, :process 99, :f :write, :value 3}
{:index 189, :time 16351030754, :type :invoke, :process 100, :f :cas, :value [0 0]}
{:index 191, :time 16514181702, :type :invoke, :process 2, :f :read, :value nil}
{:index 193, :time 16648190513, :type :invoke, :process 0, :f :read, :value nil}
{:index 194, :time 16832935887, :type :info, :process 95, :f :write, :value 4, :error :net-timeout}
{:index 195, :time 16833241241, :type :invoke, :process 101, :f :write, :value 4}
{:index 196, :time 17031974972, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 197, :time 17032236495, :type :invoke, :process 1, :f :read, :value nil}
{:index 198, :time 17209643898, :type :info, :process 99, :f :write, :value 3, :error :net-timeout}
{:index 199, :time 17209944550, :type :invoke, :process 105, :f :cas, :value [0 3]}
{:index 200, :time 17352819209, :type :info, :process 100, :f :cas, :value [0 0], :error :net-timeout}
{:index 201, :time 17353046934, :type :invoke, :process 106, :f :cas, :value [3 1]}
{:index 202, :time 17515891378, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 203, :time 17516181798, :type :invoke, :process 2, :f :read, :value nil}
{:index 204, :time 17653214475, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 205, :time 17653548985, :type :invoke, :process 0, :f :read, :value nil}
{:index 206, :time 17834269070, :type :info, :process 101, :f :write, :value 4, :error :net-timeout}
{:index 207, :time 17834496922, :type :invoke, :process 107, :f :cas, :value [4 0]}
{:index 208, :time 18033468696, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 209, :time 18033667445, :type :invoke, :process 1, :f :read, :value nil}
{:index 210, :time 18210982800, :type :info, :process 105, :f :cas, :value [0 3], :error :net-timeout}
{:index 211, :time 18211185874, :type :invoke, :process 111, :f :cas, :value [4 0]}
{:index 212, :time 18354202303, :type :info, :process 106, :f :cas, :value [3 1], :error :net-timeout}
{:index 213, :time 18387798858, :type :invoke, :process 112, :f :write, :value 4}
{:index 214, :time 18517999446, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 215, :time 18518233073, :type :invoke, :process 2, :f :read, :value nil}
{:index 216, :time 18654888714, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 217, :time 18655166962, :type :invoke, :process 0, :f :read, :value nil}
{:index 218, :time 18836270217, :type :info, :process 107, :f :cas, :value [4 0], :error :net-timeout}
{:index 219, :time 18836582605, :type :invoke, :process 113, :f :write, :value 4}
{:index 220, :time 19035495899, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 221, :time 19035783926, :type :invoke, :process 1, :f :read, :value nil}
{:index 222, :time 19213120211, :type :info, :process 111, :f :cas, :value [4 0], :error :net-timeout}
{:index 223, :time 19226234016, :type :invoke, :process 117, :f :cas, :value [1 4]}
{:index 224, :time 19389529595, :type :info, :process 112, :f :write, :value 4, :error :net-timeout}
{:index 225, :time 19389840818, :type :invoke, :process 118, :f :cas, :value [4 1]}
{:index 226, :time 19519365082, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 227, :time 19519665381, :type :invoke, :process 2, :f :read, :value nil}
{:index 228, :time 19656952400, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 229, :time 19657338507, :type :invoke, :process 0, :f :read, :value nil}
{:index 230, :time 19837997512, :type :info, :process 113, :f :write, :value 4, :error :net-timeout}
{:index 231, :time 19838226513, :type :invoke, :process 119, :f :cas, :value [4 0]}
{:index 232, :time 20036909142, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 233, :time 20037161965, :type :invoke, :process 1, :f :read, :value nil}
{:index 234, :time 20227609851, :type :info, :process 117, :f :cas, :value [1 4], :error :net-timeout}
{:index 235, :time 20227879670, :type :invoke, :process 123, :f :cas, :value [2 3]}
{:index 236, :time 20392878345, :type :info, :process 118, :f :cas, :value [4 1], :error :net-timeout}
{:index 237, :time 20404531929, :type :invoke, :process 124, :f :cas, :value [2 2]}
{:index 238, :time 20521352380, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 239, :time 20572332298, :type :invoke, :process 2, :f :read, :value nil}
{:index 240, :time 20659620260, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 241, :time 20760645323, :type :invoke, :process 0, :f :read, :value nil}
{:index 242, :time 20845063890, :type :info, :process 119, :f :cas, :value [4 0], :error :net-timeout}
{:index 244, :time 21039239984, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 246, :time 21230485407, :type :info, :process 123, :f :cas, :value [2 3], :error :net-timeout}
{:index 248, :time 21406548442, :type :info, :process 124, :f :cas, :value [2 2], :error :net-timeout}
{:index 250, :time 21573989823, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 252, :time 21762333855, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
